@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:wght@300;400;500;600&family=Work+Sans:wght@300;400;700&display=swap");

.cardContainer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Montserrat, sans-serif;
	.card {
		width: 33%;
		background: white;
		height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
		h4 {
			background-color: #001330;
			color: white;
			padding: 10px;
            height:8%;
		}
        .imgContainer{
            height: 32%;
            display:flex;

            img {
                height:100%;
                padding: 4px;
            }
div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left:20px;
    justify-content: space-around;
    background-color: rgba(0, 102, 255, 1);
    width: 100%;
    margin: 4px 4px 4px 0;
    color: white;
}
        }
		.mapContainer {
            width: 100%;
		}
        .cardInfo{
            background-color: #001330;
			color: white;
            height: 50px;
        }
	}
	.backButton {
		width: 90px;
		font-size: 16px;
		border: none;
		background-color: rgba(0, 102, 255, 1);
		color:white;
		font-family: Montserrat, sans-serif;
        margin-top: 10px;
        border: 1px solid #001330;
	}
}
